@font-face {
    font-family: NimbusCEZ;
    src: url(NimbusCEZOT.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: NimbusCEZ;
    src: url(NimbusCEZOT-Bold.otf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: NimbusCEZ;
    src: url(NimbusCEZOT-Light.otf);
    font-style: italic;
    font-weight: normal;  
}

@font-face {
    font-family: FuturaCEZ;
    src: url(FuturaCEZOT-Demi.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: FuturaCEZ;
    src: url(FuturaCEZOT-Medium.otf);
    font-style: normal;
    font-weight: bold;
}
